@font-face {
  font-family: "iconfont"; /* Project id 4781741 */
  src: url('iconfont.woff2?t=1736654611212') format('woff2'),
       url('iconfont.woff?t=1736654611212') format('woff'),
       url('iconfont.ttf?t=1736654611212') format('truetype'),
       url('iconfont.svg?t=1736654611212#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verbise-average-row:before {
  content: "\e7ce";
}

.icon-verbise-average-col:before {
  content: "\e7d0";
}

.icon-verbise-align-bottom:before {
  content: "\e7e4";
}

.icon-verbise-align-horizontal-center:before {
  content: "\e7e5";
}

.icon-verbise-align-left:before {
  content: "\e7e6";
}

.icon-verbise-align-right:before {
  content: "\e7e7";
}

.icon-verbise-align-vertical-center:before {
  content: "\e7e8";
}

.icon-verbise-align-top:before {
  content: "\e7e9";
}

.icon-verbise-split-v:before {
  content: "\ecdc";
}

.icon-verbise-arrow_down:before {
  content: "\e684";
}

.icon-verbise-pencil:before {
  content: "\e636";
}

.icon-verbise-pen:before {
  content: "\e6d6";
}

.icon-verbise-text:before {
  content: "\e67e";
}

.icon-verbise-star:before {
  content: "\e6d5";
}

.icon-verbise-circle:before {
  content: "\e645";
}

.icon-verbise-line:before {
  content: "\e63f";
}

.icon-verbise-Image:before {
  content: "\e614";
}

.icon-verbise-polygon:before {
  content: "\e6d7";
}

.icon-verbise-arrow-line:before {
  content: "\e711";
}

.icon-verbise-hand:before {
  content: "\e64a";
}

.icon-verbise-scale:before {
  content: "\e6c4";
}

.icon-verbise-arrow-cursor-2--mouse-select-cursor:before {
  content: "\e72f";
}

.icon-verbise-Rectangle:before {
  content: "\e648";
}

